@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    @apply bg-white text-zinc-800 dark:bg-zinc-900 dark:text-zinc-200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --avatar-border-opacity: 1;
    --avatar-border-transform: none;
    --avatar-image-transform: none;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }

  /* Globales Link-Styling, nicht für Navigation */
  a:not(nav a, footer a) {
    @apply text-primary-600 hover:text-primary-800 dark:text-primary-400 dark:hover:text-primary-300;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
